code/practice/
*.swp
*.pyc
code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-core/bin/
code/tools/pasta_code/pasta/bin
*.xml
.ipynb_checkpoints/
*.tar.gz
data/input/input_data/clean_africa/afroCOI_all_data.tsv
data/input/input_data/clean_africa/afroCOI_500to700_data.*
data/input/input_data/clean_africa/afroCOI_650to660_data.tsv
data/input/input_data/clean_africa/afroCOI_Over499_data.tsv
data/input/input_data/clean_africa/COI*
data/input/input_data/clean_africa/enafroCOI_500to700_data.fasta
data/input/input_data/clean_africa/enafroCOI_Over499_data.fasta
data/input/input_data/clean_africa/enafroCOI_all*
code/tools/CO1Classifierv3.2/mydata_trained/genus_wordConditionalProbList.txt
data/output/alignment/mafft_output/addfragments/*
data/output/alignment/mafft_output/addprofile/*
data/output/alignment/mafft_output/addseq/*
data/output/alignment/mafft_output/aligned/*
data/output/alignment/mafft_output/merged/*
data/output/alignment/muscle_output/aligned/*
data/output/alignment/muscle_output/merged/*
data/output/alignment/muscle_output/refined/*
data/output/alignment/t_coffee_output/aligned/*
data/output/alignment/t_coffee_output/trees/*
data/output/alignment/pasta_output/*
data/output/alignment/sate_output/*
data/output/phylogen/raxml_output/*
data/output/phylogen/fasttree_output/*
data/input/input_data/coleoptera/*
data/input/input_data/hemiptera/*
data/input/input_data/hymenoptera/*
data/input/input_data/lepidoptera/*
data/input/input_data/odonata/*
data/input/input_data/orthoptera/*
data/input/input_data/others/*
*.Rhistory
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
code/tools/sate/satesrc-v2.2.7-2013Feb15/linux1/
*.docx
*.ppt
*.odp
*.swd
*.swc
.~lock*
data/input/input_data/unpublished/sed*
