[submodule "code/tools/pasta_code/pasta"]
	path = code/tools/pasta_code/pasta
	url = https://github.com/smirarab/pasta
[submodule "code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-win"]
	path = code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-win
	url = https://github.com/sate-dev/sate-tools-win
[submodule "code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-mac"]
	path = code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-mac
	url = https://github.com/sate-dev/sate-tools-mac
[submodule "code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-linux"]
	path = code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-tools-linux
	url = https://github.com/sate-dev/sate-tools-linux
[submodule "code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-core"]
	path = code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-core
	url = https://github.com/sate-dev/sate-core
[submodule "code/tools/pasta_code/sate-tools-linux"]
	path = code/tools/pasta_code/sate-tools-linux
	url = https://github.com/smirarab/sate-tools-linux
[submodule "code/tools/figtree"]
	path = code/tools/figtree
	url = https://github.com/rambaut/figtree
[submodule "code/tools/archaeopteryx"]
	path = code/tools/archaeopteryx
	url = https://github.com/cmzmasek/forester
[submodule "code/tools/sepp"]
	path = code/tools/sepp
	url = https://github.com/smirarab/sepp
[submodule "code/tools/standard-RAxML"]
	path = code/tools/standard-RAxML
	url = https://github.com/stamatak/standard-RAxML.git
[submodule "code/tools/CO1Classifierv3.2/CO1Classifier"]
	path = code/tools/CO1Classifierv3.2/CO1Classifier
	url = https://github.com/terrimporter/CO1Classifier.git
[submodule "code/tools/RDPTools"]
	path = code/tools/RDPTools
	url = https://github.com/rdpstaff/RDPTools.git
[submodule "code/tools/beast2"]
	path = code/tools/beast2
	url = https://github.com/CompEvol/beast2.git
[submodule "code/tools/The-Structured-Coalescent"]
	path = code/tools/The-Structured-Coalescent
	url = https://github.com/nicfel/The-Structured-Coalescent.git
[submodule "code/tools/basta-bayesian-structured-coalescent-approximation"]
	path = code/tools/basta-bayesian-structured-coalescent-approximation
	url = https://bitbucket.org/nicofmay/basta-bayesian-structured-coalescent-approximation.git
[submodule "code/tools/popart-current"]
	path = code/tools/popart-current
	url = https://github.com/jessicawleigh/popart-current.git
[submodule "code/tools/raxml-ng"]
	path = code/tools/raxml-ng
	url = https://github.com/amkozlov/raxml-ng.git
