code/practice/
code/tools/sate/satesrc-v2.2.7-2013Feb15/sate-core/bin/
code/tools/pasta_code/pasta/bin
*.xml
.ipynb_checkpoints/
*.tar.gz
code/tools/CO1Classifierv3.2/mydata_trained/genus_wordConditionalProbList.txt
data/output/alignment/*
data/output/phylogen/*
data/input/diptera/*
data/input/coleoptera/*
data/input/hemiptera/*
data/input/hymenoptera/*
data/input/lepidoptera/*
data/input/odonata/*
data/input/orthoptera/*
data/input/others/*
data/input/Phle/*
data/input/bactrocera/*
data/input/bold_data/*
data/input/ceratitis/*
data/input/clean_africa/*
data/input/dacus/*
data/input/gbif/Bactrocera-1626510/*
data/input/gbif/Ceratitis-8776023/*
data/input/gbif/Dacus-8986045/*
data/input/gbif/Tabanidae-6919/*
data/input/gbif/psychodidae-9164/*
data/input/genbank/*
data/input/phlebotominae/*
data/input/psychodidae/*
data/input/tabaninae/*
data/input/unpublished/*
*.Rhistory
code/tools/sate/satesrc-v2.2.7-2013Feb15/linux1/
*.docx
*.ppt
*.odp
.~lock*
data/input/unpublished/sed*
.Rproj.user
