#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Dendroscope
Exec="/home/kibet/bioinformatics/github/co1_metaanalysis/code/tools/dendroscope/Dendroscope" %U
Icon=/home/kibet/bioinformatics/github/co1_metaanalysis/code/tools/dendroscope/.install4j/Dendroscope.png
Categories=Application;
StartupWMClass=install4j-dendroscope-main-Dendroscope
